.container {
    max-width: 768px;
}

#body {
    max-width: 768px;
    float: left;
    margin-left: 0px;
    margin-top: 20px;

    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

p {
    letter-spacing: 1px;
    text-indent: 40px;
}

#header {
    float: left;
    margin-top: 20px;
}

.logos {
    float: left;
    width: 100%;
}

.logos .logo {
    float: left;
    margin-right: 60px;
}

.mpolska {
    margin-right: 0px !important;
    margin-top: 30px;
}

.signed-by {
    margin-top: 40px;
    float: left;
}

.signed-by b {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    text-indent: 40px;
}

ul {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAICAYAAADeM14FAAAAVUlEQVR4Xj2MQQoAIQwDs/sgT1686peEvq4v8DsFL0LWrdSBQhqSIKXEDeJebFprxOEYpRTknN30ypyTvXf+2hNmhrUWbkJEWGvlHR1jQFWfGI3H+QDvhi06/rbHiwAAAABJRU5ErkJggg==);
}
