<h3>Szanowny Panie Premierze.</h3>

<p>Zwracamy się do Pana zaniepokojeni doniesieniami prasowymi o masowym gromadzeniu przez amerykańskie agencje rządowe informacji dotyczących użytkowników internetu, między innymi o obywatelach Polski. Według raportu Dyrekcji Generalnej ds. polityki zewnętrznej Parlamentu Europejskiego, wywiad amerykański jest uprawniony do zbierania danych na temat wszelkiego rodzaju „obcych grup politycznych”, co może stwarzać zagrożenie dla suwerenności państw Unii Europejskiej. Obawy te potwierdzają podawane przez dzienniki Guardian i Washington Post informacje pochodzące od Edwarda Snowdena – byłego administratora systemów z ośrodka NSA na Hawajach.</p>

<p>Według relacji mediów, zarówno dane znajdujące się na serwerach ponad 50 amerykańskich firm, jak i wszystkie inne przepływające przez amerykańskie łącza telekomunikacyjne są przez National Security Agency (NSA) zbierane, archiwizowane i analizowane na bieżąco i w sposób ciągły, przy czym ze względu na to, że część danych pobieranych bezpośrednio z łącz telekomunikacyjnych jest zaszyfrowana, NSA sięga również bezpośrednio do danych przechowywanych na serwerach firm.</p>

<p>NSA gromadzi ponad 120 000 000 000 różnych informacji miesięcznie. Znajdują się wśród nich nasze listy, SMS-y, zdjęcia, wiadomości z sieci społecznych, rozmowy telefoniczne, rozmowy głosowe przez komunikatory cyfrowe, historia przeglądanych przez nas stron WWW jak i wszystkie inne informacje, które przesyłamy internetem. Tworzone właśnie nowe centrum danych pozwala, według wyliczeń Williama Binneya, na przechowywanie ilości danych przesyłanych w komunikacji elektronicznej całego świata w okresie 100 lat.</p>

<p>Pojawia się pytanie, w jakim celu dokonywane jest masowe magazynowanie danych o nas wszystkich? Czy naprawdę możemy usprawiedliwiać takie działanie zagrożeniem terrorystycznym? Pytanie to dotyczy przestrzegania podstawowych praw człowieka, ale także można je wiązać z zagrożeniem suwerenności naszego państwa. Dane te prawdopodobnie nigdy nie będą kasowane, więc wywiad USA może dzisiaj gromadzić wrażliwe informacje o naszych przyszłych członkach rządu, posłach, sędziach, policjantach czy dziennikarzach.</p>

<p>Żyjemy w świecie, w którym amerykańscy urzędnicy mają dostęp do najbardziej intymnych sfer naszego życia. W świecie, w którym wszystko, co powiemy czy opiszemy w prywatnej konwersacji i korespondencji może zostać użyte przeciwko nam. Warto tu podkreślić, że wbrew dość rozpowszechnionym przekonaniom, nie uchroni nas przed tym podawanie fałszywych danych przy zakładaniu kont w serwisach internetowych. Każdy człowiek, o ile nie jest ekspertem od bezpieczeństwa komputerowego, pozostawia w sieci wystarczająco wiele śladów, a systemy takie, jak używane przez NSA, mogą połączyć wszystkie rozmowy prowadzone w sieci, elektroniczną korespondencję czy inne informacje z konkretną osobą.</p>

<p>Wobec tak szokujących wiadomości, pamiętając o zapewnieniach rządu, iż „ochrona prywatności i poczucie bezpieczeństwa w internecie jest naszym obywatelskim prawem i kluczową wartością”, zwracamy się do Pana z prośbą o zajęcie przez rząd Polski stanowiska w poniższych kwestiach:</p>

<ul>
    <li>Jakie konkretne działania podjął bądź zamierza podjąć rząd Polski, aby chronić polskich obywateli przed łamaniem ich podstawowych praw konstytucyjnych, w tym naruszaniem tajemnicy korespondencji przez  służby obcego państwa?</li>

    <li>Czy dane zbierane w Polsce w ramach obowiązkowej retencji danych trafiają za pośrednictwem polskich służb w ręce służb amerykańskich i innych państw?</li>

    <li>W jaki sposób rząd polski zapewnia ochronę informacyjną politykom, sądownictwu, policji, wojsku, dziennikarzom, urzędnikom, funkcjonariuszom służb publicznych i innym osobom związanym z bezpiecznym funkcjonowaniem państwa?</li>

    <li>Czy państwo polskie korzysta z danych wywiadowczych gromadzonych w systemie PRISM?</li>

    <li>Czy rząd, administracja państwowa, władze sądownicze i inne podmioty państwowe korzystają z usług firm amerykańskich w taki sposób,  który może doprowadzić do umieszczenia na znajdujących się w USA lub w innych państwach serwerach danych wrażliwych obywateli albo państwa polskiego?</li>

    <li>Czy rząd zamierza ostrzegać obywateli Polski przed zagrożeniem utraty prywatności w przypadku używania serwisów ulokowanych w USA?</li>

    <li>Jakie są ustalenia polskiego rządu na temat liczby obywateli polskich inwigilowanych przez służby USA?</li>

    <li>Czy rząd zgadza się ze stosowaną przez Amerykanów interpretacją, że przechwytywanie archiwizowanie danych nie jest szpiegowaniem, jeśli jest prowadzone całkowicie automatycznie i dopóki zgromadzone w ten sposób dane nie są oglądane przez człowieka?</li>
</ul>

<p>Wyrażając zaniepokojenie niewystarczającymi działaniami rządu, prosimy o zorganizowanie spotkania z Premierem lub kompetentnym przedstawicielem rządu, na którym rząd mógłby ustosunkować się do wyżej wymienionych kwestii. Wydaje nam się, że te poruszane kwestie są tak bulwersujące, iż poruszają społeczeństwo nie tylko polskie, ale i całej Unii Europejskiej.</p>

<div class='signed-by'>
    <p>Sygnatariusze:</p>

    <a target='_blank' href='http://polskapartiapiratow.pl/'><b>Polska Partia Piratów</b></a>

    <a target='_blank' href='http://db.org.pl/'><b>Demokracja Bezpośrednia</b></a>

    <a target='_blank' href='http://partialibertarianska.org/'><b>Partia Libertariańska</b></a>

    <a target='_blank' href='http://www.zieloni2004.pl/news.htm'><b>Partia Zieloni</b></a>

    <a target='_blank' href='http://www.mpolska.org/'><b>Stowarzyszenie mPolska</b></a>
</div>
