<div class='logos'>
    <a target='_blank' href='http://polskapartiapiratow.pl/'><img class='logo' src='../img/p3.png'/></a>
    <a target='_blank' href='http://db.org.pl/'><img class='logo' src='../img/db.png'/></a>
    <a target='_blank' href='http://partialibertarianska.org/'><img class='logo' src='../img/liber.png'/></a>
    <a target='_blank' href='http://www.zieloni2004.pl/news.htm'><img class='logo' src='../img/zieloni.png'/></a>
    <a target='_blank' href='http://www.mpolska.org/'><img class='logo mpolska' src='../img/mpolska.png'/></a>
</div>
